extends layout
include _includes/sharedHTMLfunctions
block content
  .row.banner
    .col-12
      h1= pageHeader.title 
        small #{pageHeader.strapline}
  .row
    .col-12.col-md-8 
      .error=message

      app-home-list 
      
      //each location in locations
        .card 
          .card-block
            h4 
              a(href=`/location/${location._id}`)= location.name 
              +outputRating(location.rating)
              span.badge.rounded-pill.bg-danger.float-end= location.distance 
            p.address.text-white= location.address 
            .facilities 
              each facility in location.facilities 
                span.badge.bg-warning.text-dark= facility 

    .col-12.col-md-4 
      p.lead= sidebar 

block scripts
  script(src='/build/main.84b0d65c45979201.js')
  script(src='/build/polyfills.db8d0556f7a00a3d.js')
  script(src='/build/runtime.fd29255fd8315448.js')
